    <!-- Download Section -->
    <section id="gigs" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 gigs">
                  <h2>Upcoming Gigs</h2>
                  <div class="gig">
                    <h1 class="title">Attack Of The Burgie Awards</h1>
                    <h2 class="date">January 16th, 2016 at 5:00pm</h2>
                    <h2 class="location">Magic City Casino</h2>
                    <img class="poster" src="img/burgie-awards.jpg" alt="Burgie Awards poster"/>
                  </div>
                </div>
            </div>
        </div>
    </section>